
html {
  overflow: hidden;
}
body {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 64px;
}

p {
  font-size: 24px;
}

.animated-text span:not(.fade) {
  opacity:0;
  transform: translateY(50%) rotate(45deg);
}

.animated-text span {
  transition:all .4s;
  display:inline-block;
}

.animated-text--typing span.fade + span:not(.fade) {
  transition: none;
  background:black;
  opacity:1;
  transform: none;
  color:transparent;
}